{{#resume.basics}}
		<section id="about" class="row">
			<aside class="col-sm-3">
				<h3>About</h3>
			</aside>
			<div class="col-sm-9">
				{{#summary}}
				<p>{{.}}</p>
				{{/summary}}
			</div>
		</section>
{{/resume.basics}}